<section>
    <div class="container">
        <div class="box" id="edit-post-form">
            <div class="content">
                <h4>Editing Post: {{post.title}} </h4>
                <div class="field">
                    <label class="label"> Edit Title </label>
                    <div class="control">
                        <input class="input" id="edit-post-title" type="text" placeholder="New Title">
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <label class="label"> Edit Post </label>
                        <textarea class="textarea" id="edit-post-body" value="{{post.body}}"></textarea>
                    </div>
                </div>

                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-success" id="save-post-update">
                            <span class="icon is-small">
                                <i class="fas fa-lock"></i>
                            </span>
                            <span> Save </span>
                        </button>
                    </div>

                    <div class="control">
                        <button class="button is-danger" id="cancel-post-update">
                            <span  class="icon is-small">
                                <i class="fas fa-xmark"></i>
                            </span> 
                            <span> Cancel </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="/public/javascript/edit-post.js"></script>