<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Dashboard</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <script src="https://kit.fontawesome.com/7afa7fcea5.js" crossorigin="anonymous"></script>
    </head>

    <body>
    <section class="hero is-medium is-info">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-start">
                        <a class="navbar-item">Home</a>

                        <a class="navbar-item">Sign Up</a>

                        <a class="navbar-item">Dashboard</a>

                        <a class="navbar-item">Login</a>

                        <a class="navbar-item">Logout</a>

                    </div>
                </div>
            </nav>
        </div>
        <div class="hero-body">
            <div class="container">
                <p class="title"> Tech Blog </p>
            </div>
        </div>
    </section>

<div class="container">
    <div class="box">
        <article class="media">
            <figure class="media-left">
                <p class="image is-64x64">
                <img src="https://bulma.io/images/placeholders/128x128.png">
                </p>
            </figure>
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>Beyonce</strong>
                            <br>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta eros lacus, nec ultricies elit blandit non. Suspendisse pellentesque mauris sit amet dolor blandit rutrum. Nunc in tempus turpis.
                            <br>
                            <small>Beyonce · 08/28/2022 ·</small>
                        </p>

                        <div class="buttons has-addons is-right">
                            <button class="button is-info is-outlined is-small">
                                <span class="icon is-small">
                                    <i class="fas fa-pencil"></i>
                                </span>
                                <span>Edit Post</span>
                            </button>

                            <button class="button is-danger is-small">
                                <span class="icon is-small">
                                    <i class="fas fa-trash-can"></i>
                                </span>
                                <span>Delete Post</span>
                            </button>
                        </div>
                    </div>
        
                    <article class="media">
                        <figure class="media-left">
                        <p class="image is-48x48">
                            <img src="https://bulma.io/images/placeholders/96x96.png">
                        </p>
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                
                                    <p> <strong>Jay-Z</strong> </p>
                                    <p>
                                    
                                    Donec sollicitudin urna eget eros malesuada sagittis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam blandit nisl a nulla sagittis, a lobortis leo feugiat.
                                    
                                    </p>
                                    <p> <small>08/29/2022</small> </p>
                                    
                                

                                <div class="buttons has-addons is-right">
                                    <button class="button is-info is-outlined is-small">
                                        <span class="icon is-small">
                                            <i class="fas fa-pencil"></i>
                                        </span>
                                        <span>Edit Comment</span>
                                    </button>

                                    <button class="button is-danger is-small">
                                        <span class="icon is-small">
                                            <i class="fas fa-trash-can"></i>
                                        </span>
                                        <span>Delete Comment</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </article>

                <div class="buttons has-addons is-right mt-5">
                    <button class="button is-info is-small">
                        <span class="icon is-small">
                            <i class="fas fa-circle-plus"></i>
                        </span>
                        <span>Add New Comment</span>
                    </button>
                </div>   
                
            </div>

        </article>
    </div>
</div>